.practice-page {
    background-color: #e0e0e0;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    max-width: 100%;
    min-width: 30%;
    padding: 30px 60px;
    display: flex;
    align-items: center;
}

.practice-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 0.75vmin);
    color: rgb(0, 0, 0);
    border-radius: 5px;

}

.practice-page-col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.practice-webcam {
    align-items: center;
}

.result{
    font-size: 40px;
    font-weight: 500;
    color: #09223b;
}

.result.small {
    font-size: 24px;
}

.result-prompt {
    font-size: 30px;
    font-weight: 500;
    color: #9fa3a9;
}

.result-prompt.small {
    font-size: 22px;
}


.cat{
    font-size: 100000px;
    font-weight: 60000;
    color: #999;
    /* print: meow meow meow */
}

.container-row{
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

.Dyanmic-Button{
    align-items: center;
    background-color: #003459;
    border: 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    border-radius: 5px;
    /* font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif; */
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }

  .Dyanmic-Button.active {
    background-color: #ffffff;
    border: 2px;
    border-color: #003459;
    color: #003459;
  }