@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

/* body {
  font-family: 'Anek Malayalam', sans-serif;
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
} */

.quiz-container {
  max-width: 100%;
  min-width: 90%;
  background: #ffffff;
  border-radius: 4px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 30px 60px;
  display: flex;
  align-items: center;
}

.quiz-container-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 100%
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #09223b;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #09223b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  border: 2px solid #00A7E1;
}

.quiz-container button {
  background: #09223b;
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
  margin: 10px 5px 10px 0px;
}

.quiz-container .skip-quit-button {
  background: #144a81;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
  border: solid;
  border-color: #09223b;
  border-width: 2px;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result h4 {
  font-size: 16px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #00A7E1;
  font-size: 22px;
}

.result ul {
  margin: 0 10% 0 10%;
  padding: 0 10% 0 10%;
}

.result li {
  text-align: center;
}

.quiz-container .text-question{
  font-size: 40px;
  font-weight: 500;
  color: #09223b;
}

.quiz-container .text-question-prompt {
  font-size: 30px;
  font-weight: 500;
  color: #9fa3a9;
}

.quiz-container .text-answer-prompt-black {
  font-size: 30px;
  font-weight: 500;
  color: #9fa3a9;
}

.button-row {
  display: flex;
  justify-content: flex-start;
  margin-right: 15px;
}

.container-row{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.container-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 100%;
}

.container-column-3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 33%;
}

.quiz-container ul li.incorrect-answer {
  border: 2px solid #880808	;
}