.webcam {
    width: 500px;
    height: 500px;
    border: solid;
    border-color: #09223b;
    border-width: 2px;
    border-radius: 4.5px;
}

.webcam__detected {
  border: solid 2px green;
}

.Record-Button{
  align-items: center;
  background-color: #003459;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  border-radius: 5px;
  /* font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.Record-Button.disabled {
  border: #003459;
  border: 2px;
  background-color: #e0e0e0;
  color: #09223b;
}

.Record-Button.Stop {
  border-color: #003459;
  border-width: 2px;
  background-color: #e0e0e0;
  color: #09223b;
}