.words-modal {
    width: 100% !important;
    .card {
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
        place-content: center;
    }

    .jump-to {
        text-align: center;
        display: flex;
        place-content: center;
        a {
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}